<% include ../header.ejs %>

<% include ../layout/layoutToolbar.ejs %>

<% include ../layout/layoutTopDashClassroom.ejs %>

<div class='content dashRessources'>
	<div class="middle-content">
		<div class="middle-ortho container-subject">
		<% for (var a = 0; a < ortho.length; a ++) { 
			var orthoActive = 'false';
			for (var e = 0; e < ortho[a].classroom.length; e ++) {
				if (classroom._id == ortho[a].classroom[e].classroomID) {
					orthoActive = ortho[a].classroom[e].isLocked;
				}
			}
			%>
			<div class="my-subject">
				<% if (orthoActive == 'false') { %>
					<div class="overlay active"></div>
				<% } else { %>
					<div class="overlay"></div>
				<% } %>			
				<div class="my-subject-top">
					<span class="hidden code"><%= ortho[a]._id %></span>
					<p><%= ortho[a].name%></p>
					<div class="activ-ressource">
				   		<% if (orthoActive == 'false') { %>	
				   			<p>Activer</p>	   			
				   			<span class="toggle-bg">
								<input type= "radio" name="lock<%= a %>" value="lock" class="toggle-lock-on">
								<input type= "radio" name="lock<%= a %>" value="unlock" checked="checked" class="toggle-lock-off">
								<span class="switch right"></span>
							</span>
							<a class="link-lock" href="/unLockSubject/<%= classroom._id %>/<%= ortho[a]._id %>/true">Valider</a>
						<% } else { %>
							<p>Désactiver</p>
							<span class="toggle-bg">
								<input type= "radio" name="lock<%= a %>" value="lock" checked="checked" class="toggle-lock-on">
								<input type= "radio" name="lock<%= a %>" value="unlock" class="toggle-lock-off">
								<span class="switch left"></span>
							</span>		
							<a class="link-lock" href="/unLockSubject/<%= classroom._id %>/<%= ortho[a]._id %>/false">Valider</a>			
						<% } %>
					</div>
				</div>

				<div class="fiche-peda">
					<p>Fiche pédagogique</p>
					<a href="http://localhost:8080/lessons/<%= ortho[a].lesson %>">
						<span>
							<span>Afficher le pdf</span>
						</span>
					</a>
				</div>
				
				<div class="activities">
					<p>Exercices</p>

					<% for (var w = 0; w < ortho[a].subActivity.length; w++) { %> 
						<div class="my-activities">
							<p><%= ortho[a].subActivity[w].name %></p>
							<p><%= ortho[a].subActivity[w].order %></p>
							
							<% if (book != null) { %>
							<form action="/<%= book._id %>/<%= ortho[a].subActivity[w]._id %>/activeActivity" method="post">
								<label>Activer : l'exercice pour un chapitre</label>
								<select name="chapter">
									<option>Pas de chapitre défini</option>
									<% for (var o = 0; o < book.chapter.length; o ++) { 
										if (book.chapter[o].activity == ortho[a].subActivity[w]._id) {
									%>
									<option selected="selected"><%= o + 1 %></option>
									<% } else { %>
									<option><%= o + 1 %></option>
									<% }
									} %>
								</select>
								<input type="submit" value="Valider" />
							</form>
							<% } %>
						</div>
					<% } %>
				</div>

				<a href="/creerActivite/<%= ortho[a]._id %>" class="createAct">Créer une activité</a>
			</div>
		<% } %>
		</div>

		<div class="middle-gram container-subject">
		<% for (var b = 0; b < grammaire.length; b ++) { 
			var gramActive = 'false';
			for (var f = 0; f < grammaire[b].classroom.length; f ++) {
				if (classroom._id == grammaire[b].classroom[f].classroomID) {
					gramActive = grammaire[b].classroom[f].isLocked;
				}
			}
			%>
			<div class="my-subject">
				<% if (gramActive == 'false') { %>
					<div class="overlay active"></div>
				<% } else { %>
					<div class="overlay"></div>
				<% } %>	
				<div class="my-subject-top">
					<span class="hidden code"><%= grammaire[b]._id %></span>
					<p><%= grammaire[b].name%></p>
					<div class="activ-ressource">
				   		<% if (gramActive == 'false') { %>	
				   			<p>Activer</p>	   			
				   			<span class="toggle-bg">
								<input type= "radio" name="lock<%= b %>" value="lock" class="toggle-lock-on">
								<input type= "radio" name="lock<%= b %>" value="unlock" checked="checked" class="toggle-lock-off">
								<span class="switch right"></span>
							</span>
							<a class="link-lock" href="/unLockSubject/<%= classroom._id %>/<%= grammaire[b]._id %>/true">Valider</a>
						<% } else { %>
							<p>Désactiver</p>
							<span class="toggle-bg">
								<input type= "radio" name="lock<%= b %>" value="lock" checked="checked" class="toggle-lock-on">
								<input type= "radio" name="lock<%= b %>" value="unlock" class="toggle-lock-off">
								<span class="switch left"></span>
							</span>		
							<a class="link-lock" href="/unLockSubject/<%= classroom._id %>/<%= grammaire[b]._id %>/false">Valider</a>			
						<% } %>
					</div>
				</div>

				<div class="fiche-peda">
					<p>Fiche pédagogique</p>
					<a href="http://localhost:8080/lessons/<%= grammaire[b].lesson %>">
						<span>
							<span>Afficher le pdf</span>
						</span>
					</a>
				</div>
				
				<div class="activities">
					<p>Exercices</p>

					<% for (var v = 0; v < grammaire[b].subActivity.length; v++) { %> 
						<div class="my-activities">
							<p><%= grammaire[b].subActivity[v].name %></p>
							<p><%= grammaire[b].subActivity[v].order %></p>
							
							<% if (book != null) { %>
							<form action="/<%= book._id %>/<%= grammaire[b].subActivity[v]._id %>/activeActivity" method="post">
								<label>Activer : l'exercice pour un chapitre</label>
								<select name="chapter">
									<option>Pas de chapitre défini</option>
									<% for (var q = 0; q < book.chapter.length; q ++) { 
										if (book.chapter[q].activity == grammaire[b].subActivity[v]._id) {
									%>
									<option selected="selected"><%= q + 1 %></option>
									<% } else { %>
									<option><%= q + 1 %></option>
									<% }
									} %>
								</select>
								<input type="submit" value="Valider" />
							</form>
							<% } %>
						</div>
					<% } %>
				</div>
				
				<a href="/creerActivite/<%= grammaire[b]._id %>" class="createAct">Créer une activité</a>
			</div>
		<% } %>
		</div>
		
		<div class="middle-voca container-subject">
		<% for (var c = 0; c < vocabulaire.length; c ++) { 
			var vocActive = 'false';
			for (var u = 0; u < vocabulaire[c].classroom.length; u ++) {
				if (classroom._id == vocabulaire[c].classroom[u].classroomID) {
					vocActive = vocabulaire[c].classroom[u].isLocked;
				}
			}
			%>
			<div class="my-subject">
				<% if (vocActive == 'false') { %>
					<div class="overlay active"></div>
				<% } else { %>
					<div class="overlay"></div>
				<% } %>				
				<div class="my-subject-top">
					<span class="hidden code"><%= vocabulaire[c]._id %></span>
					<p><%= vocabulaire[c].name%></p>
					<div class="activ-ressource">
				   		<% if (vocActive == 'false') { %>	
				   			<p>Activer</p>	   			
				   			<span class="toggle-bg">
								<input type= "radio" name="lock<%= c %>" value="lock" class="toggle-lock-on">
								<input type= "radio" name="lock<%= c %>" value="unlock" checked="checked" class="toggle-lock-off">
								<span class="switch right"></span>
							</span>
							<a class="link-lock" href="/unLockSubject/<%= classroom._id %>/<%= vocabulaire[c]._id %>/true">Valider</a>
						<% } else { %>
							<p>Désactiver</p>
							<span class="toggle-bg">
								<input type= "radio" name="lock<%= c %>" value="lock" checked="checked" class="toggle-lock-on">
								<input type= "radio" name="lock<%= c %>" value="unlock" class="toggle-lock-off">
								<span class="switch left"></span>
							</span>		
							<a class="link-lock" href="/unLockSubject/<%= classroom._id %>/<%= vocabulaire[c]._id %>/false">Valider</a>			
						<% } %>
					</div>
				</div>

				<div class="fiche-peda">
					<p>Fiche pédagogique</p>
					<a href="http://localhost:8080/lessons/<%= vocabulaire[c].lesson %>">
						<span>
							<span>Afficher le pdf</span>
						</span>
					</a>
				</div>
				
				<div class="activities">
					<p>Exercices</p>

					<% for (var p = 0; p < vocabulaire[c].subActivity.length; p++) { %> 
						<div class="my-activities">
							<p><%= vocabulaire[c].subActivity[p].name %></p>
							<p><%= vocabulaire[c].subActivity[p].order %></p>
							
							<% if (book != null) { %>
							<form action="/<%= book._id %>/<%= vocabulaire[c].subActivity[p]._id %>/activeActivity" method="post">
								<label>Activer : l'exercice pour un chapitre</label>
								<select name="chapter">
									<option>Pas de chapitre défini</option>
									<% for (var r = 0; r < book.chapter.length; r ++) { 
										if (book.chapter[r].activity == vocabulaire[c].subActivity[p]._id) {
									%>
									<option selected="selected"><%= r + 1 %></option>
									<% } else { %>
									<option><%= r + 1 %></option>
									<% }
									} %>
								</select>
								<input type="submit" value="Valider" />
							</form>
							<% } %>
						</div>
					<% } %>
				</div>

				<a href="/creerActivite/<%= vocabulaire[c]._id %>" class="createAct">Créer une activité</a>
			</div>
		<% } %>
		</div>

		<div class="middle-conj container-subject">
		<% for (var d = 0; d < conjuguaison.length; d ++) { 
			var conjActive = 'false';
			for (var h = 0; h < conjuguaison[d].classroom.length; h ++) {
				if (classroom._id == conjuguaison[d].classroom[h].classroomID) {
					conjActive = conjuguaison[d].classroom[h].isLocked;
				}
			}
			%>
			<div class="my-subject">
				<% if (conjActive == 'false') { %>
					<div class="overlay active"></div>
				<% } else { %>
					<div class="overlay"></div>
				<% } %>		
				<div class="my-subject-top">
					<span class="hidden code"><%= conjuguaison[d]._id %></span>
					<p><%= conjuguaison[d].name%></p>
					<div class="activ-ressource">
				   		<% if (conjActive == 'false') { %>	
				   			<p>Activer</p>	   			
				   			<span class="toggle-bg">
								<input type= "radio" name="lock<%= d %>" value="lock" class="toggle-lock-on">
								<input type= "radio" name="lock<%= d %>" value="unlock" checked="checked" class="toggle-lock-off">
								<span class="switch right"></span>
							</span>
							<a class="link-lock" href="/unLockSubject/<%= classroom._id %>/<%= conjuguaison[d]._id %>/true">Valider</a>
						<% } else { %>
							<p>Désactiver</p>
							<span class="toggle-bg">
								<input type= "radio" name="lock<%= d %>" value="lock" checked="checked" class="toggle-lock-on">
								<input type= "radio" name="lock<%= d %>" value="unlock" class="toggle-lock-off">
								<span class="switch left"></span>
							</span>		
							<a class="link-lock" href="/unLockSubject/<%= classroom._id %>/<%= conjuguaison[d]._id %>/false">Valider</a>			
						<% } %>
					</div>
				</div>

				<div class="fiche-peda">
					<p>Fiche pédagogique</p>
					<a href="http://localhost:8080/lessons/<%= conjuguaison[d].lesson %>">
						<span>
							<span>Afficher le pdf</span>
						</span>
					</a>
				</div>
				
				<div class="activities">
					<p>Exercices</p>

					<% for (var s = 0; s < conjuguaison[d].subActivity.length; s++) { %> 
						<div class="my-activities">
							<p><%= conjuguaison[d].subActivity[s].name %></p>
							<p><%= conjuguaison[d].subActivity[s].order %></p>
							
							<% if (book != null) { %>
							<form action="/<%= book._id %>/<%= conjuguaison[d].subActivity[s]._id %>/activeActivity" method="post">
								<label>Activer : l'exercice pour un chapitre</label>
								<select name="chapter">
									<option>Pas de chapitre défini</option>
									<% for (var u = 0; u < book.chapter.length; u ++) { 
										if (book.chapter[u].activity == conjuguaison[d].subActivity[s]._id) {
									%>
									<option selected="selected"><%= u + 1 %></option>
									<% } else { %>
									<option><%= u + 1 %></option>
									<% }
									} %>
								</select>
								<input type="submit" value="Valider" />
							</form>
							<% } %>
						</div>
					<% } %>
				</div>

				<a href="/creerActivite/<%= conjuguaison[d]._id %>" class="createAct">Créer une activité</a>
			</div>
		<% } %>
		</div>

		<a href="/creerSujet">Créer un sujet</a>
	</div>
	
	<% include ../dash/listRessources.ejs %>
</div>

<% include ../footer.ejs %>