<% include ../header.ejs %>

<% include ../layout/layoutTopDash.ejs %>

<div class='content dashHome'>
	<div class="illu">
		<div class="teach-name-contain">
			<a href="/profil" class="teacher-name">
				<p><span><%= teacher.lastName %> <%= teacher.firstName %></span></p>
			</a>
			<a href="/deconnexion" class="btn-deco">Se déconnecter</a>
		</div>
	</div>
	<h3>Bienvenue sur votre espace de gestion Nooke</h3>
	<div class="my-classrooms">
		<a href="#" id="modify">Modifier</a>
		<% for(var i = 0; i < classrooms.length; i++) {%>
		   <div class="classroom">
		   		<a href="/classe/delete/<%= classrooms[i]._id %>" class="delete">Supprimer</a>
		  	 	<a href="/classe/<%= classrooms[i].name %>">
		  	 		<span class="overlay"></span>
		   			<p><%= classrooms[i].name %></p>
		   		</a>
		   </div>
		<% } %>

		<div id="createClassroom">
			<div id="overlay-create-class">
				<p>Créer une classe</p>
			</div>
			<form action="/createClassroom" method="post">	
				<label for="name">Nom de la classe</label>
				<input type="text" name="name"/>
				
				<input type="radio" name="grade" value="CM1" class="check" checked><p id="cm1-p">CM1</p>
				<input type="radio" name="grade" value="CM2"><p>CM2</p>
				<input type="submit" value="valider">
				<a href="#">|<span>Annuler</span>|</a>
			</form>
		</div>
	</div>
</div>

<% include ../footer.ejs %>