<ul id='menu'>
	<li>
		<a href="/classe/<%= classroom.name %>">
			<span>Accueil</span>
		</a>
	</li>
	<li>
		<a href="/classe/<%= classroom.name %>/eleves">
			<span>Élèves</span>
		</a>
	</li>
	<li>
		<a href="/classe/<%= classroom.name %>/equipes">
			<span>Équipes</span>
		</a>
	</li>
	<li>
		<a href="/classe/<%= classroom.name %>/livres">
			<span>Livres</span>
		</a>
	</li>
	<li>
		<a href="/classe/<%= classroom.name %>/ressources">
			<span>Ressources</span>
		</a>
	</li>
</ul>